  /* Make the page fill the entire window */
  html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    --l2d-panel-width: 280px;
  }
  
  /* The main container is a flex row that fills the entire screen */
  .app-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e; /* or your preferred background color */
  }

  /* Left panel: fixed width, scrollable if needed */
  .l2d-panel {
    left: 0;
    top: 0;
    background-color: #2b2b2b;
    color: white;
    transition: transform 0.3s ease-in-out;
    padding: 0; /* Remove top padding */
    width: var(--l2d-panel-width);
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
  }

  .l2d-panel.closed {
    transform: translateX(calc(var(--l2d-panel-width) * -1));
    pointer-events: none;
  }
  
  .l2d-panel.open {
    pointer-events: auto;
  }

  .l2d-panel-control {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligns text and button */
    padding: 0px 15px;
    flex: 0 0 auto; /* do not shrink or grow */
  }

  .l2d-panel-control h2 {
    text-align: right;
  }
  
  /* Right panel: fixed width, scrollable if needed */
  .l2d-panel.right {
    right: 0;
    width: var(--l2d-panel-width);
    left: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  }

  .l2d-panel.right.closed {
    transform: translateX(var(--l2d-panel-width));
    pointer-events: none;
  }

  .l2d-panel.right select {
    width: 100%;
  }

  .l2d-panel-opacity {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
  }

  .l2d-panel-opacity div{
    width: 100%;
    display: flex;
    justify-content: space-between; /* Aligns text and button */
    padding: 0px 0px 0.5rem 0px;
    flex: 0 0 auto; /* do not shrink or grow */
  }

  .l2d-panel-opacity input{
    width: 100%;
  }
  
  /* Main canvas area takes remaining space */
  .main-canvas-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    /* no extra background needed if you want to see the canvas fill the area */
  }

  .l2d-canvas {
    flex: 1;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    touch-action: none;
  }
  